.desktop-form-explanation-text {
  margin-bottom: 40px;
  font-family: "Miriam Libre", Helvetica;
  color: var(--dark-gray);
  font-size: 16px;
  line-height: 22px;
}

.desktop-form-input {
  width: 420px;
  font-family: "Miriam Libre", Helvetica;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--gray);
  margin-bottom: 20px;
}
    
.desktop-input-text {
  margin: 0px 10px 5px 0px;
  font-family: "Miriam Libre", Helvetica;
  color: var(--gray);
  font-size: 18px;
}

#desktop-short-input {
  height: 80px;
}

textarea {  
  resize: none;
  font-size: 16px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  padding: 10px;
  text-align: right;
}
  
#desktop-full-input {
  height: 200px;
}

.desktop-submit-button {
  margin-top: 20px;
  width: 442px;
  align-items: center;
  padding: 15px 0px;
  background-color: var(--blue);
  border-radius: 12px;
  font-family: "AlfaBravo-Bold", Helvetica;
  color: var(--white-gray);
  font-size: 22px;
}
  
button {
  border: none;
}