.desktop-about-subtitle {
  font-family: alfa;
  font-size: 24px;
} 

.text {
  font-family: "Miriam Libre", Helvetica;
  color: var(--variable-collection-gray-700);
  font-size: 18px;
  line-height: 22px;
}
  
.divider {
  margin: 30px 0px 30px 0px;
  height: 1px;
  background-color: var(--variable-collection-gray-300);
}