<!DOCTYPE html>
<html>

  <body>
    <div class="add-argument">
      <div class="header-mobile">
        <div class="text-wrapper">תכלס</div>
        <div class="divider"></div>
        <div class="div">מדריך כיס לסכסוך</div>
        <img class="icons" src="https://c.animaapp.com/nTLSYXZA/img/icons-2.svg" />
        <img class="img" src="https://c.animaapp.com/nTLSYXZA/img/icons-3.svg" />
      </div>
      <div class="footer-mobile">
        <div class="text-wrapper-2">מעצב: טל דה דיזיינר</div>
        <p class="p">הפרויקט נוצר בתמיכת ״שלום עכשיו״</p>
        <img class="image" src="https://c.animaapp.com/nTLSYXZA/img/image-1-1@2x.png" />
        <p class="text-wrapper-3">© כל הזכויות שמורות, 2024</p>
      </div>
      <div class="text-wrapper-4">הוספת טיעון</div>
      <div class="frame">
        <div class="input">
          <div class="div-wrapper"><div class="text-wrapper-5">קצר וקולע</div></div>
          <div class="text-wrapper-6">טיעון</div>
        </div>
        <div class="text-input">
          <div class="input-2"><div class="text-wrapper-7">פלייסהולדר</div></div>
          <div class="text-wrapper-8">פתרון אפשרי לטיעון</div>
        </div>
        <div class="input">
          <div class="div-wrapper"><p class="text-wrapper-5">אל דאגה, לא יכנס לערך</p></div>
          <div class="text-wrapper-9">הערה לעורך</div>
        </div>
        <div class="input">
          <div class="div-wrapper"><div class="text-wrapper-5">ג׳ון למון</div></div>
          <div class="text-wrapper-10">שם מלא</div>
        </div>
        <div class="input">
          <input class="input-3" placeholder="typ@typ.com" type="email" />
          <div class="text-wrapper-11">מייל</div>
        </div>
        <div class="input">
          <div class="div-wrapper"><div class="text-wrapper-5">פלייסהולדר</div></div>
          <div class="text-wrapper-12">שם השדה</div>
        </div>
        <div class="frame-2"><div class="text-wrapper-13">שליחה</div></div>
      </div>
    </div>
  </body>
</html>
