<!DOCTYPE html>
<html dir="rtl">
  <body>
    <app-topper></app-topper>
    <div class="desktop-main-wrapper">
      <div class="desktop-right-sidebar-wrapper">
      </div>
      <div class="desktop-main-div-wrapper">
        <p class="search-headline">תוצאות חיפוש עבור ←</p>
        <p class="desktop-search-term">״{{searchTerm}}״</p>  
        <div class="false-argument-wrapper" *ngFor="let result of searchResults" [routerLink]="['/', result.type, result._id]">
          <p class="false-argument">״{{result.title}}״</p>
        </div>
      </div>
      <div class="desktop-left-sidebar-wrapper">
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>