<!DOCTYPE html>
<html>
  <body>
    <div class="false-argument">
      <div class="header-mobile">
        <div class="text-wrapper">תכלס</div>
        <div class="divider"></div>
        <div class="div">מדריך כיס לסכסוך</div>
        <img class="icons" src="https://c.animaapp.com/t7fDoOaU/img/icons-2.svg" />
        <img class="img" src="https://c.animaapp.com/t7fDoOaU/img/icons-3.svg" />
      </div>
      <div class="footer-mobile">
        <div class="text-wrapper-2">מעצב: טל דה דיזיינר</div>
        <p class="p">הפרויקט נוצר בתמיכת ״שלום עכשיו״</p>
        <img class="image" src="https://c.animaapp.com/t7fDoOaU/img/image-1-1@2x.png" />
        <p class="text-wrapper-3">© כל הזכויות שמורות, 2024</p>
      </div>
      <div class="text-wrapper-4">״אין פרטנר״</div>
      <div class="frame">
        <div class="div-wrapper"><div class="text-wrapper-5">הוספת טיעון</div></div>
        <div class="arguments">
          <div class="frame-2"><div class="text-wrapper-6">&#34;אין דבר כזה כיבוש&#34;</div></div>
          <div class="frame-3"><p class="text-wrapper-7">&#34;ניסינו שלום באוסלו ורק קיבלנו פיגועים&#34;</p></div>
          <div class="frame-4">
            <p class="text-wrapper-7">&#34;לא משנה מה ניתן להם זה <br />לא יספיק&#34;</p>
          </div>
        </div>
      </div>
      <div class="frame-5"></div>
      <div class="view">
        <div class="content">
          <p class="text-wrapper-8">
            השאלה &#34;האם יש פרטנר?&#34; היא במידה רבה חצי שאלה. השאלה המלאה צריכה להיות: &#34;האם יש פרטנר לתוכנית
            מסוימת?&#34;. <br /><br />במילים אחרות, יש לשאול: האם יש תוכנית שהצד הישראלי מעוניין בה? האם התוכנית הזו
            זוכה לתמיכה של הקהילה הבינלאומית? ובמידה והתוכנית עונה לשני התנאים הראשונים, האם יש לה פרטנר בצד הפלסטיני?
          </p>
          <div class="text-wrapper-9">קראו עוד ←</div>
          <div class="sources">
            <div class="text-wrapper-10">מקורות</div>
            <div class="list">
              <div class="source">
                <p class="element">&#34;ככה בדיוק קרה&#34;, שאול אריאלי, עמוד 178</p>
                <img class="icons-2" src="https://c.animaapp.com/t7fDoOaU/img/icons-4.svg" />
              </div>
              <div class="source-2">
                <div class="text-wrapper-11">The Marker</div>
                <img class="icons-2" src="https://c.animaapp.com/t7fDoOaU/img/icons-9.svg" />
              </div>
              <div class="source-2">
                <div class="text-wrapper-11">Wikipedia</div>
                <img class="icons-2" src="https://c.animaapp.com/t7fDoOaU/img/icons-9.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <p class="text-wrapper-8">
            לרוב (אם לא לכל) הטיעונים השקריים יש מטרה מסוימת. במקרה של &#34;אין פרטנר&#34;, המטרה היא זו: מצד אחד להימנע
            מלפתור את הסכסוך (מה שיהיה כרוך בוויתורים כואבים לחלקים רבים בציבור הישראלי), ומצד שני לשכנע הן את הציבור
            הישראלי והן את הקהילה הבינלאומית שהסיבה שבגללה הסכסוך לא נפתר היא באשמת ההנהגה הפלסטינית ולא ההנהגה
            הישראלית.
          </p>
          <div class="text-wrapper-9">קראו עוד ←</div>
          <div class="sources">
            <div class="text-wrapper-10">מקורות</div>
            <div class="list">
              <div class="source">
                <div class="text-wrapper-12">ערוץ 7</div>
                <img class="icons-2" src="https://c.animaapp.com/t7fDoOaU/img/icons-9.svg" />
              </div>
              <div class="source-2">
                <div class="text-wrapper-12">זמן ישראל</div>
                <img class="icons-2" src="https://c.animaapp.com/t7fDoOaU/img/icons-9.svg" />
              </div>
              <div class="source-2">
                <div class="text-wrapper-12">הארץ</div>
                <img class="icons-2" src="https://c.animaapp.com/t7fDoOaU/img/icons-9.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
