<!DOCTYPE html>
<html>

  <body>
    <div class="dictionary-word">
      <div class="header-mobile">
        <div class="text-wrapper">תכלס</div>
        <div class="divider"></div>
        <div class="div">מדריך כיס לסכסוך</div>
        <img class="icons" src="https://c.animaapp.com/KYRjtZwr/img/icons-2.svg" />
        <img class="img" src="https://c.animaapp.com/KYRjtZwr/img/icons-3.svg" />
      </div>
      <div class="footer-mobile">
        <div class="text-wrapper-2">מעצב: טל דה דיזיינר</div>
        <p class="p">הפרויקט נוצר בתמיכת ״שלום עכשיו״</p>
        <img class="image" src="https://c.animaapp.com/KYRjtZwr/img/image-1-1@2x.png" />
        <p class="text-wrapper-3">© כל הזכויות שמורות, 2024</p>
      </div>
      <div class="text-wrapper-4">מילון</div>
      <div class="text-wrapper-5">תיאור קצר על המילון</div>
      <div class="content">
        <div class="view">
          <div class="words">
            <div class="element">אדמות מדינה</div>
            <div class="element-2">אפרטהייד</div>
            <div class="image-2"></div>
            <p class="text-wrapper-6">
              מאפריקנס – &#34;הפרדה&#34;, מדיניות הפרדה גזעית שהונהגה בדרום-אפריקה. המונח אפרטהייד הפך למילה נרדפת
              לגזענות שיטתית ממוסדת ולהתעלמות מוצהרת מזכויותיו של מיעוט אתני. סיפוח הגדה המערבית, ללא מתן זכויות מלאות
              למיליוני הפלסטינים הגרים בה, ייצור מציאות בה הפלסטינים מנועים מלקחת חלק במשחק הדמוקרטי של המשטר שתחת
              שליטתו הם מצויים, ויהפוך את מדינת ישראל למדינת אפרטהייד.
            </p>
            <div class="copy">
              <div class="text-wrapper-7">העתק</div>
              <img class="icons-2" src="https://c.animaapp.com/KYRjtZwr/img/icons-4.svg" />
            </div>
          </div>
          <div class="text-wrapper-8">א</div>
        </div>
        <div class="view">
          <div class="words">
            <div class="element">בג”ץ אלון מורה</div>
            <div class="element-2">בג”ץ בית אל</div>
            <div class="element-2">בג”ץ ששת המאחזים</div>
          </div>
          <div class="text-wrapper-8">ב</div>
        </div>
        <div class="view">
          <div class="words">
            <div class="element">הקו הירוק</div>
            <div class="element-2">הרשות הפלסטינית</div>
            <div class="element-2">החלטת מועצת הביטחון 2334</div>
          </div>
          <div class="text-wrapper-8">ה</div>
        </div>
        <div class="view">
          <div class="words">
            <div class="element">ועידת טאבה</div>
            <div class="element-2">ועידת מדריד</div>
          </div>
          <div class="text-wrapper-8">ו</div>
        </div>
        <div class="view">
          <div class="words"><div class="element">יוזמת השלום הערבית</div></div>
          <div class="text-wrapper-8">י</div>
        </div>
        <div class="view">
          <div class="words">
            <div class="element">מאחז בלתי-חוקי</div>
            <div class="element-2">הרשות הפלסטינית</div>
            <div class="element-2">מנהל אזרחי</div>
          </div>
          <div class="text-wrapper-8">מ</div>
        </div>
        <div class="view">
          <div class="words"><div class="element">פת״ח</div></div>
          <div class="text-wrapper-8">פ</div>
        </div>
        <div class="view">
          <div class="words"><div class="element">סגר</div></div>
          <div class="text-wrapper-8">ס</div>
        </div>
        <div class="view">
          <div class="words">
            <div class="element">שטחי A</div>
            <div class="element-2">שטחי B</div>
            <div class="element-2">שטחי C</div>
          </div>
          <div class="text-wrapper-8">ש</div>
        </div>
        <div class="view">
          <div class="words"><div class="element-3">E1</div></div>
          <div class="text-wrapper-9">E</div>
        </div>
        <div class="view">
          <div class="words"><div class="element-3">SSP (Special Privileged Partnership)</div></div>
          <div class="text-wrapper-9">S</div>
        </div>
      </div>
    </div>
  </body>
</html>
