.quote-source-description {
  margin-bottom: 50px;
}

// MOBILE >>>

// MOBILE argument >>>
   
.mobile-argument-title {
  padding-top: 30px;
  margin-bottom: 40px;
}

.mobile-short-answer {
  font-family: "Miriam Libre", Helvetica;
  font-size: 18px;
  line-height: 28px;
  font-weight: bolder;
}

.mobile-read-copy-wrapper {
  display:flex; 
}

.mobile-read-more {
  color: white;
  font-family: "Miriam Libre", Helvetica;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 15px;
}

.mobile-read-copy-wrapper {
  display:flex; 
}

.copy-secondary-wrapper {
  display: inline-flex;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid;
}

// MOBILE argument <<<

button {
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

.bottom-button {
  margin-bottom: 40px;
}

.mobile-quote {
  font-family: "Frank Ruhl Libre", Helvetica;
  color: var(--variable-collection-gray-700);
  font-size: 18px;
  line-height: 26px;
}

.argument {
  color: white;
}

.mobile-action-button {
  margin-bottom: 30px;
}