<!DOCTYPE html>
<html dir="rtl">
  <body>
    <app-topper></app-topper>
    <div *ngIf="!isMobile">
      <div class="desktop-main-wrapper">
        <div class="desktop-right-sidebar-wrapper">
        </div>
        <div class="desktop-main-div-wrapper">
          <p class="desktop-headline">אודות</p>
          <p class="desktop-about-subtitle">
            ״תכלס״ הוקם מתוך הכרה כי:
          </p>
          <p class="text">
              <br />1. ללא פתרון מדיני, הסכסוך הישראלי-פלסטיני לעולם לא יסתיים.<br /><br />2. אחת הסיבות שבגללן הסכסוך
              הזה עוד לא הסתיים, היא כי תפיסות שונות וטיעונים שונים – שמראש נועדו להנציח את המשך הסכסוך ולהכשיל כל ניסיון
              לסיימו – חדרו למיינסטרים של השיח הפוליטי הישראלי. ולכן, יש צורך מהותי להפריך ולסלק מהשיח הפוליטי את כל אותם
              תפיסות וטיעונים הרסניים.<br /><br />3. באופן עקבי, כפי שמשתקף מסקרים שונים שנערכים לאורך השנים, רוב הציבור
              הישראלי בעד פתרונות מדיניים לסיום הסכסוך. ובכל-זאת, אנשים רבים, שלכאורה רוצים בסיום הסכסוך, בוחרים
              בסופו-של-דבר בפוליטיקאים שלא. יש לכך, כמובן, סיבות רבות. אחת מהן, גם אם לא המרכזית שבהן, היא בלבול או
              חסר-ידע. את זה ״תכלס״ מעוניין לפתור.
          </p>
          <div class="divider"></div>
          <p class="desktop-about-subtitle">
            הרעיון להקים את ״תכלס״ נולד, כמו במקרים רבים, מתוך צורך אישי.
          </p>
          <p class="text">
          <br />זה קרה יום שישי אחד, באמצע משחק כדורגל במעלה אדומים, of all places. אני, שחקן ספסל, בשלהי קריירה לא
          מפוארת בעליל, מצאתי את עצמי מתווכח עם החובשת של הקבוצה על... פוליטיקה.<br />די מהר הוויכוח הגיע לנקודה שבה
          היא אמרה שאי אפשר לעשות שלום עִם עַם שלם של אנשים ששונאים אותנו רק כי אנחנו יהודים. <br />מעבר לכך שתיסכל
          אותי שזה מה שהיא חושבת, תיסכל אותי שלא ידעתי איך או מה לענות לה.<br /><br />זו לא הייתה הפעם הראשונה שקרה לי
          משהו כזה. לאורך השנים ניהלתי אינספור ויכוחים דומים. עם ישראלים, עם פלסטינים, עם תיירים בארץ, עם זרים
          בחו״ל, פנים מול פנים, באינטרנט... ולא פעם מצאתי את עצמי באותה עמדה מתסכלת שבה למרות שידעתי שהטיעונים של
          הצד השני חלשים או אפילו עובדתית לא נכונים – לא הייתה לי תשובה להם.<br /><br />מעולם לא התיימרתי להיות מומחה
          לסכסוך הישראלי-פלסטיני. אבל כן ציפיתי שמעט הידע שרכשתי לאורך השנים, גם אם לא יגרום לי בהכרח להצליח לשכנע כל
          אחד בכל ויכוח, הרי שלכל פחות יספק לי תשובות לטיעונים של הצד השני. אלא שפעם אחר פעם, ״ברגע האמת״ –
          הידע הזה איכזב אותי.<br /><br />כשחזרתי הביתה אחרי אותו משחק במעלה-אדומים, פתאום חשבתי: מה אם היה אתר שמתמקד
          במיוחד בזה? בכל אותם טיעונים ששומעים בלי-סוף, בין אם בכנסת, בתקשורת, ברשתות החברתיות או ברחוב. אתר שהיה משמש
          אותי בכל אותם ויכוחים, עוזר לי להיות סוכן טוב יותר של הדעות והערכים שלי.<br /><br />זה היה הגרעין הראשוני של
          הרעיון. משם זה התפתח למעין ״מדריך כיס לסכסוך״, הכולל גם מילון של מונחים ואירועי מפתח ועוד.<br /><br />הסיבה
          שבגללה בחרתי בכיוון הזה, היא כי כשהתחלתי לעבוד על ״תכלס״ ולכתוב תשובות לאותם טיעונים, שמתי-לב שחלק
          ניכר מהחומר על הסכסוך – בין אם ברשת או בספרים שקראתי – מתמקד בעבר (כאילו מדובר בעוד סוגייה היסטורית-אקדמית),
          במקרים רבים לא באמת רלוונטי להווה או לעתיד, וקל מאוד ללכת לאיבוד בתוך ים המידע האינסופי הזה.<br />״תכלס״
          מנסה לעשות סדר בכל הבלגן הזה.<br /><br /><br
          /></p>
        </div>
        <div class="desktop-left-sidebar-wrapper">
        </div>
      </div>
    </div>
    <div *ngIf="isMobile">
      <div class="mobile-headline-first-line">
        <p>למי שרוצה לעשות סדר בבלגן שנקרא</p>
      </div>
      <div class="mobile-headline-second-line">
        <p>הסכסוך הישראלי-פלסטיני</p>
      </div>
      <div class="mobile-category-wrapper" id="first-category">
        <div class="mobile-category-text-wrapper">
          <p class="mobile-category-text-headline">להכיר את מושגי היסוד</p>
          <p class="mobile-category-text-examples">מה זה שטח C? מה זו החלטה 242?</p>
        </div>
        <div class="mobile-category-link">למילון ←</div>
      </div>        
      <div class="mobile-category-wrapper" id="second-category">
        <div class="mobile-category-text-wrapper">
          <p class="mobile-category-text-headline">לחשוף את השקרים מאחורי</p>
          <p class="mobile-category-text-headline">המיתוסים של הסכסוך</p>
          <p class="mobile-category-text-examples">האם באמת אין פרטנר? <br />האם באמת ברק הציע הכל?</p>
        </div>
        <div class="mobile-category-link">לטיעונים ←</div>
      </div>
      <div class="mobile-category-wrapper" id="third-category">
        <div class="mobile-category-text-wrapper">
          <p class="mobile-category-text-headline">להבין איפה אנחנו היום</p>
          <p class="mobile-category-text-examples">כמה אנחנו רחוקים מהסכם, <br>ומה (או מי) מונע מהסכם להתממש?</p>
        </div>
        <div class="mobile-category-link">לקיצור תולדות הסכסוך ←</div>
      </div>
    </div>
  <app-footer></app-footer>
  </body>
</html>