<!DOCTYPE html>
<html>

  <body>
    <div class="false-arguments">
      <div class="header-mobile">
        <div class="text-wrapper">תכלס</div>
        <div class="divider"></div>
        <div class="div">מדריך כיס לסכסוך</div>
        <img class="icons" src="https://c.animaapp.com/dDEHv21w/img/icons-2.svg" />
        <img class="img" src="https://c.animaapp.com/dDEHv21w/img/icons-3.svg" />
      </div>
      <div class="footer-mobile">
        <div class="text-wrapper-2">מעצב: טל דה דיזיינר</div>
        <p class="p">הפרויקט נוצר בתמיכת ״שלום עכשיו״</p>
        <img class="image" src="https://c.animaapp.com/dDEHv21w/img/image-1-1@2x.png" />
        <p class="text-wrapper-3">© כל הזכויות שמורות, 2024</p>
      </div>
      <div class="text-wrapper-4">טיעונים שקריים</div>
      <div class="section">
        <div class="QOUTE">
          <p class="text-wrapper-5">
            &#34;קבלה ללא ערעור של המיתוסים הללו משרתת את כל מי שמבקש לשמר את גחלת הסכסוך כדי לסכל תהליך של הסדר-קבע –
            תהליך שעשוי להוביל לשלום ולפיוס בין העמים. במילים אחרות, ההתעקשות להיצמד למיתוסים היא מתכון להנצחה של הסכסוך
            ולסיכול כל אפשרות לפתרונו.&#34;
          </p>
        </div>
        <p class="div-2">
          <span class="span">ד&#34;ר שאול אריאלי</span>
          <span class="text-wrapper-6"> </span>
          <span class="text-wrapper-7"
            >אלוף-משנה במיל&#39; מומחה לסכסוך הישראלי-פלסטיני מתוך ספרו &#34;ככה בדיוק קרה?&#34;</span
          >
        </p>
      </div>
      <div class="frame">
        <div class="button-small"><div class="text-wrapper-8">הוספת טיעון</div></div>
        <div class="arguments">
          <div class="div-wrapper"><p class="text-wrapper-9">&#34;אין דבר כזה עם פלסטיני&#34;</p></div>
          <div class="div-wrapper"><div class="text-wrapper-9">&#34;אין דבר כזה כיבוש&#34;</div></div>
          <div class="frame-2"><p class="text-wrapper-10">&#34;ניסינו שלום באוסלו ורק קיבלנו פיגועים&#34;</p></div>
          <div class="frame-3">
            <p class="text-wrapper-10">&#34;לא משנה מה ניתן להם זה <br />לא יספיק&#34;</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
