
    <div class="arguments">
      <div class="header-mobile">
        <div class="text-wrapper">תכלס</div>
        <div class="divider"></div>
        <div class="div">מדריך כיס לסכסוך</div>
        <img class="icons" src="https://c.animaapp.com/2OwYVVqW/img/icons-2.svg" />
        <img class="img" src="https://c.animaapp.com/2OwYVVqW/img/icons-3.svg" />
      </div>
      <div class="footer-mobile">
        <div class="text-wrapper-2">מעצב: טל דה דיזיינר</div>
        <p class="p">הפרויקט נוצר בתמיכת ״שלום עכשיו״</p>
        <img class="image" src="https://c.animaapp.com/2OwYVVqW/img/image-1-1@2x.png" />
        <p class="text-wrapper-3">© כל הזכויות שמורות, 2024</p>
      </div>
      <div class="text-wrapper-4">טיעונים</div>
      <p class="text-wrapper-5">יש דרכים רבות לענות לטיעונים – שקריים ואמיתיים – שקשורים לסכסוך הישראלי-פלסטיני.</p>
      <div class="buttons">
        <div class="frame"><div class="text-wrapper-6">טיעונים ניטרליים</div></div>
        <div class="div-wrapper"><div class="text-wrapper-6">טיעונים שקריים</div></div>
        <div class="frame-2"><div class="text-wrapper-6">טיעונים אמיתיים</div></div>
      </div>
      <div class="frame-3">
        <p class="text-wrapper-7">הקו-המנחה של &#34;תכלס&#34; הוא להתמקד במה שחשוב:</p>
        <div class="section">
          <p class="text-wrapper-8">לא בעבר / כן בעתיד</p>
          <div class="QOUTE">
            <p class="text-wrapper-9">
              &#34;אם היה לי איזשהו תפקיד בשיחות השלום, הייתי רוצה את תפקיד טכנאי הסאונד בשיחות. והייתי נותן הוראה לנתק
              את המיקרופונים בכל פעם שאחד המשתתפים מתייחס לעבר, ולחבר אותם מחדש רק כשהם חוזרים לדבר על ההווה או העתיד.״
            </p>
          </div>
          <p class="div-2">
            <span class="span">עמוס עוז</span>
            <span class="text-wrapper-10"> </span>
            <span class="text-wrapper-11">סופר וחתן פרס ישראל לספרות</span>
          </p>
        </div>
        <div class="section-2">
          <p class="text-wrapper-8">לא במי צודק / כן בחתירה לפתרונות מעשיים וריאליים</p>
          <div class="QOUTE-2">
            <p class="text-wrapper-9">
              &#34;זו הארץ שלנו, הם לא מכירים בזה שהארץ שלנו, והם נלחמים בנו. כאשר את המשפט הזה, כמובן, אומרים שני
              הצדדים.&#34;
            </p>
          </div>
          <p class="div-3">
            <span class="span">פרופ&#39; הלל כהן</span>
            <span class="text-wrapper-10"> </span>
            <span class="text-wrapper-11">החוג ללימודי איסלאם והמזרח התיכון באוניברסיטה העברית</span>
          </p>
        </div>
      </div>
    </div>

