<div *ngIf="!isMobile">
  <div class="desktop-footer-main-wrapper" id="footer-height">
    <div class="desktop-footer-secondary-wrapper">
      <div class="desktop-footer-rightside-wrapper">
        <p>© כל הזכויות שמורות, 2024</p>
      </div>
      <div class="desktop-footer-center-wrapper">
        <p>הפרויקט נוצר בתמיכת ״שלום עכשיו״</p>
        <img src="https://c.animaapp.com/bjt8wCNs/img/-----------1@2x.png" height="40%"/>
      </div>
      <div class="desktop-footer-leftside-wrapper">
        <p>מעצב: טל דה דיזיינר</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isMobile">
  <div class="mobile-footer-wrapper">
    <p class="mobile-footer-text">© כל הזכויות שמורות, 2024</p>
    <p class="mobile-footer-text">הפרויקט נוצר בתמיכת ״שלום עכשיו״</p>
    <img class="mobile-footer-logo" src="https://c.animaapp.com/bjt8wCNs/img/-----------1@2x.png" width="30%" height="30%"/>
    <p class="mobile-footer-text">מעצב: טל דה דיזיינר</p>
  </div>
</div>